@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap");
html body {
  background: #f8e9dd;
  color: #76b5bc;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
html body .container {
  margin: 4em 0;
}
html body .container >* {
  border-radius: 15px;
  margin-block-start: 3em;
  width: 625px;
}
html body .container .balance {
  height: 125px;
  background: #ec775f;
  color: #fff;
  padding: 3em;
}
html body .container .expenses {
  background: #fffaf5;
  color: #382314;
  margin-block-start: 1em;
}
html body .container .expenses >* {
  padding: 1.2em;
}
html body .container .expenses hr {
  margin-left: 5%;
  width: 90%;
}
html body .container .expenses .chart .bar-date .bar {
  display: inline-block;
  background: #ec775f;
  border-radius: 5px;
  width: 50px;
}
html body .container .expenses .chart .bar-date .bar:hover {
  background: #f7c5bb;
}
html body .container .expenses .chart .bar-date .current {
  background: #76b5bc;
}
html body .container .expenses .chart .bar-date .current:hover {
  background: #bbdadd;
}
html body .container .expenses .chart .bar-date .date {
  color: #93867b;
}
html body .container .expenses .total-month-balances {
  margin: 0 1em;
}
html body .container .expenses .total-month-balances .total-balance .total-month .total {
  color: #382314;
  font-size: 2em;
}
html body .container .expenses .total-month-balances .month-percentage strong {
  margin-inline-start: 4.25em;
}
html body .container .expenses .total-month,
html body .container .expenses .month {
  color: #93867b;
}
@media (max-width: 700px) {
  html body .container >* {
    width: 375px;
    height: 100%;
  }
  html body .container .balance {
    padding: 1.25em;
  }
  html body .container .expenses .total-month-balances {
    margin: 0 0.15em;
  }
}
