@import url('https://fonts.googleapis.com/css?family=Manrope:800')

html body
    background: hsl(218, 23%, 16%)
    color: hsl(100, 100%, 100%)
    font-family: 'Manrope', sans-serif
    font-size: 1.75em
    font-weight: 800

    .container
        .advice-app
            width: 65%
            height: 400px
            background: hsl(217, 19%, 24%)
            border-radius: 10px
            margin: 5em 0

            .advice-id
                color: hsl(150, 100%, 66%)
                font-size: 0.45em
                letter-spacing: 0.3em
                text-transform: uppercase

            .advice-text
                color: hsl(193, 38%, 86%)

            @media (max-width: 768px)
                width: 90%
                font-size: 1.5em
                margin: 2em 0

                .divider
                    content: url('./images/pattern-divider-mobile.svg')

        #advice-btn
            width: 55px
            height: 55px
            background: hsl(150, 100%, 66%)
            border-radius: 50%
            transform: translateY(-310%)

            @media (max-width: 768px)
                transform: translateY(-210%)
