@import url("https://fonts.googleapis.com/css?family=Manrope:800");
html body {
  background: #1f2632;
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-size: 1.75em;
  font-weight: 800;
}
html body .container .advice-app {
  width: 65%;
  height: 400px;
  background: #323a49;
  border-radius: 10px;
  margin: 5em 0;
}
html body .container .advice-app .advice-id {
  color: #52ffa8;
  font-size: 0.45em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
html body .container .advice-app .advice-text {
  color: #cee3e9;
}
@media (max-width: 768px) {
  html body .container .advice-app {
    width: 90%;
    font-size: 1.5em;
    margin: 2em 0;
  }
  html body .container .advice-app .divider {
    content: url("./images/pattern-divider-mobile.svg");
  }
}
html body .container #advice-btn {
  width: 55px;
  height: 55px;
  background: #52ffa8;
  border-radius: 50%;
  transform: translateY(-310%);
}
@media (max-width: 768px) {
  html body .container #advice-btn {
    transform: translateY(-210%);
  }
}
