@import url("https://fonts.googleapis.com/css?family=Manrope:500,700");
html body {
  background: #ecf2f8;
  color: #6d7f97;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
}
html body .article-preview {
  width: 775px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  margin: 15em 0 10em 0;
}
@media (max-width: 768px) {
  html body .article-preview {
    flex-direction: column;
    width: 525px;
    height: 100%;
  }
}
@media (max-width: 478px) {
  html body .article-preview {
    width: 350px;
  }
}
html body .article-preview .article-img .img {
  border-radius: 20px 0 0 20px;
  width: 300px;
  height: 300px;
}
@media (max-width: 768px) {
  html body .article-preview .article-img .img {
    border-radius: 20px 20px 0 0;
    width: 525px;
  }
}
@media (max-width: 478px) {
  html body .article-preview .article-img .img {
    width: 350px;
  }
}
html body .article-preview .article {
  margin: 0 2em;
}
html body .article-preview .article .title {
  color: #48556a;
  font-size: 1.5em;
  font-weight: 700;
}
html body .article-preview .article .author-share .author .author-pic {
  border-radius: 50%;
}
html body .article-preview .article .author-share .author .author-info .info {
  color: #9eafc2;
  font-weight: 500;
  line-height: 1.75em;
}
html body .article-preview .article .author-share .author .author-info .info .name {
  color: #48556a;
  font-weight: 700;
}
@media (max-width: 768px) {
  html body .article-preview .article .author-share .author {
    visibility: hidden;
  }
}
html body .article-preview .article .author-share .share-btn {
  background: #ecf2f8;
  border-radius: 50%;
  margin: 0.5em 0.5em 0 0;
  width: 35px;
  height: 35px;
}
html body .article-preview .article .author-share .share-btn .toolbar {
  background: #48556a;
  border-radius: 5px;
  padding: 0.5rem;
  transform: translateX(-35%) translateY(-105%);
}
@media (max-width: 768px) {
  html body .article-preview .article .author-share .share-btn .toolbar {
    border-radius: 0 0 20px 20px;
    width: 525px;
    transform: translateX(-40%) translateY(14%);
  }
}
@media (max-width: 478px) {
  html body .article-preview .article .author-share .share-btn .toolbar {
    width: 350px;
    transform: translateX(-35%) translateY(15%);
  }
}
